{{> _jumbotron}}

<div class="row mt-5">
    <div class="col-md-6">
        <a href="/invoicing/create_invoice">
            <h2>Create Invoice</h2>
        </a>
    </div>
    <div class="col-md-6">
        <a href="/invoicing/create_invoice_template">
            <h2>Create Invoice Template</h2>
        </a>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-4">
        <a href="/invoicing/invoice_operations">
            <h2>Invoice Operations</h2>
        </a>
    </div>
</div>