{{> _jumbotron}}
<br>
<h3>Sync Results</h3>
<br>
<div class = "row">
  <div class = "col-md-6 offset-md-3">
  <label for="response">Response</label>
<textarea class = "form-control rounded-0" name = "response" rows = "30" cols="200">{{paymentInfo}}{{errorResponse}}</textarea>
</div>
</div>
<br><br>