{{> _jumbotron}}
<div class = "row">
  <div class = "col-md-4">
    <a href = "/payments"><h2>Payments API</h2></a>
  </div>
  <div class = "col-md-4">
    <a href = "/checkout"><h2>PayPal Checkout</h2></a>
  </div>
  <div class = "col-md-4">
    <a href = "/payouts"><h2>Payouts API</h2></a>
  </div>
</div>
<br><br>
<div class = "row">
  <div class = "col-md-4">
    <a href = "/sync"><h2>Sync API</h2></a>
  </div>
  <div class = "col-md-4">
    <a href = "/subscriptions"><h2>Subscriptions</h2></a>
  </div>
  <div class = "col-md-4">
    <a href = "/disputes"><h2>Disputes API</h2></a>
  </div>
</div>
<br><br>
