{{> _jumbotron}}

<div class = "row">
  <div class = "col-md-6">
    <div class = "form-group">
    <label for = "listResponse">Response</label>
    <textarea class = "form-control rounded-0" name = "listResponse" id = "listResponse" rows = "30" cols="200">{{message}}{{eMessage}}</textarea>
    </div>
  </div>
  <div class = "col-md-4 offset-md-2">
    <a href = "/disputes"><h3>Back to Disputes</h3></a>
  </div>
</div>
<br>
<br>