{{> _jumbotron}}

<div class = "row">
  <div class = "col-md-4">
  <h3>List Disputes</h3>
  <form method = "POST" action = "/disputes/listDisputes">
    <input type = "submit">
  </form>
  </div>
</div>