{{> _jumbotron}}
<div class = "row">
  <div class = "col-md-4">
    <a href = "https://developer.paypal.com/docs/api/customer-disputes/v1/" target = "blank"><h5>Customer Disputes API</h5></a>
  </div>
</div>
<br><br>
<div class = "row">
  <div class = "col-md-4">
  <h3>List Disputes</h3>
  <form method = "POST" action = "/disputes/listDisputes">
    <button type = "submit" class = "btn btn-primary">Submit</button>
  </form>
  </div>
</div>