{{> _jumbotron}}
<div class="row">
    <div class="col-md-6">
        <a href="https://developer.paypal.com/docs/limited-release/orders/api/" target="blank">
            <h5>Orders V2</h5>
        </a>

    </div>
</div>

<div class="row mt-5">
    <div class="col-md-6">
        <a href="v2/as1">
            <h2>Order Auth Capture</h2>
        </a>
    </div>
    <div class="col-md-6">
        <a href="v2/as2">
            <h2>Order Capture</h2>
        </a>
    </div>

</div>
<br>