{{> _jumbotron}}
<br>
<h3>Create Billing Agreement</h3>
<br>

<div class = "row">
  <div class = "col-md-6">
  <form method = "post" action = "/subscriptions/createBA">
  <div class = "form-group">
    <label for="json">Create Billing Agreement</label>
    <textarea class = "form-control rounded-0" name = "json" rows = "30" cols="200" id = "json"></textarea>
  </div>
  <button type = "submit" class = "btn btn-primary">Submit</button>
  </form>
</div>
<div class = "col-md-6">
  <label for="response">Response</label>
<textarea class = "form-control rounded-0" name = "response" rows = "30" cols="200">{{paymentInfo}}{{errorResponse}}</textarea>
</div>
</div>

<div class = "row">
  <div class = "col-md-4 offset-md-8">
    <div>
      <h3><span id = "info"></span></h3>
    </div>
  </div>
</div>

<script>
  var jsonString = '{"name": "Fast Speed Agreement","description": "Agreement for Fast Speed Plan","start_date": "","plan": {"id": "ENTER PLAN ID HERE"},"payer": {"payment_method": "paypal"},"shipping_address": {"line1": "StayBr111idge Suites","line2": "Cro12ok Street","city": "San Jose","state": "CA","postal_code": "95112","country_code": "US"}, "override_merchant_preferences": {"return_url": "https://guarded-brook-41995.herokuapp.com/subscriptions/billing_agreement_execute", "cancel_url": "https://guarded-brook-41995.herokuapp.com/subscriptions/billing_agreement_create"}}';

  function setText(jsonString) {
    var jsonObj = JSON.parse(jsonString);

  var date = new Date();
  date.setMinutes(date.getMinutes() + 1);
  date.toISOString();

  jsonObj.start_date = date;

  var newStr = JSON.stringify(jsonObj, null, 2);

  var textArea = document.getElementById('json');
  
  textArea.value = newStr;
  }

  var url = "{{{link}}}";
  console.log(url);

  function addLink() {
    if(url != "") {
      var urlLocation = document.getElementById("info");
      var a = document.createElement('a');
      a.href = url;
      a.innerHTML = "Redirect to PayPal";
      urlLocation.appendChild(a);
    }
  }
  setText(jsonString);
  addLink();
</script>