{{> _jumbotron}}

<div class = "row">
  <div class = "col-md-6">
  <form method = "post" action = "/subscriptions/executeBA">
  <div class = "form-group">
    <label for="paymentToken">Execute Agreement</label>
    <input type = "text" class = "form-control rounded-0" name = "paymentToken" id = "paymentToken" value = "{{token}}">
  </div>
  <button type = "submit" class = "btn btn-primary">Submit</button>
  </form>
</div>
<div class = "col-md-6">
  <label for="response">Response</label>
<textarea class = "form-control rounded-0" name = "response" rows = "30" cols="200">{{paymentInfo}}{{errorResponse}}</textarea>
</div>
</div>

<br><br>
<div class = "row">
  <div class = "col-md-4 offset-md-8">
    <a href = "/subscriptions"><h3>Back to Subscriptions</h3></a>
  </div>
  <br><br><br>
  <div class = "col-md-4 offset-md-8">
    <a href = "/subscriptions/billing_agreement_operations"><h3>Billing Agreement Operations</h3></a>
  </div>
</div>

<br><br>