{{> _jumbotron}}

<div class = "row">
<div class = "col-md-4">
  <a href = "https://developer.paypal.com/docs/subscriptions/#" target="blank"><h3>Subscriptions Overview</h3></a>
</div>
</div>

<br><br>

<div class = "row">
  <div class = "col-md-6">
    <a href = "subscriptions/billing_plans"><h2>Create and Update Billing Plans</h2></a>
  </div>
  <div class = "col-md-6">
    <a href = "subscriptions/billing_plans_details"><h2>List and Show Billing Plan Details</h2></a>
  </div>
</div>

<br><br>

<div class = "row">
  <div class = "col-md-4">
    <a href = "subscriptions/billing_agreement_create"><h2>Create Billing Agreement</h2></a>
  </div>
</div>