{{> _jumbotron}}

<div class = "row">
<div class = "col-md-4">
  <a href = "https://developer.paypal.com/docs/subscriptions/#" target="blank"><h5>Subscriptions Overview</h5></a>
</div>
<div class = "col-md-4">
    <a href = "https://developer.paypal.com/docs/api/payments.billing-plans/v1/" target = "blank"><h5>Billing Plans API</h5></a>
  </div>
  <div class = "col-md-4">
    <a href = "https://developer.paypal.com/docs/api/payments.billing-agreements/v1/" target = "blank"><h5>Billing Agreements API</h5></a>
  </div>
</div>

<br><br>
<div class = "card card-body">
<div class = "row">
  <div class = "col-md-6">
    <a href = "subscriptions/billing_plans"><h2>Create and Update Billing Plans</h2></a>
  </div>
  <div class = "col-md-6">
    <a href = "subscriptions/billing_plans_details"><h2>List and Show Billing Plan Details</h2></a>
  </div>
</div>

<br><br><br><br>

<div class = "row">
  <div class = "col-md-6">
    <a href = "subscriptions/billing_agreement_create"><h2>Create and Execute Billing Agreement</h2></a>
  </div>
  <div class = "col-md-6">
    <a href = "subscriptions/billing_agreement_operations"><h2>Billing Agreement Operations</h2></a>
  </div>
</div>
</div>